#formEmpresa {
    text-align: left;
    margin: 0 15px;
}

.form-label {
    margin-left: 0;
}

#btn-submitForm {
    float: right;
    margin: 10px;
    background-color: #f05d29 !important;
    border-color: #f05d29 !important;
} 